<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="ejercicio16.js"></script>
    <title>Ejercicio16</title>
</head>
<body>
    
</body>
</html>