.borde{
    border: solid;
    width: 50%;
}

.fondo{
    background-color: aqua;
}

.fondo1{
    margin-left: 15px;
    background-color: rgb(255, 178, 127);


}

.centro{
    border: solid ;
    width: 50%;
    text-align: center;
    margin-left: 13px;
    border-top-color: aqua;

}
.color{
    color: crimson;
}

